Package: grademan
Version: 3.3.1
Architecture: all
Maintainer: Dirk Winkel <it@polarwinkel.de>
Installed-Size: 425
Depends: python3 (>= 3.0.0), python3-tk (>= 3.0.0), python3-bottle (>= 0.12.21)
Section: utils
Priority: optional
Homepage: http://grademan.polarwinkel.de
Description: Ein Schüler- Noten- und Unterrichtsmanager für Lehrer.
 GradeMan vereint Stundenverwaltung, Notengebung, Anwesenheitskontrolle, 
 automatische Zusammenfassungen wie Durchschnittsnoten etc. in einer 
 Datenbank.
 Die Benutzeroberfläche ist im Browser und adaptiert damit automatisch 
 alle modernen Möglichkeiten des Browsers wie Lesezeichenverwaltung, 
 Textsuche u.v.m.
